@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

.container-total{
    display: grid;
    grid-template-columns: 50% 30%;
}

.body{
    font-family: imprima;
    display: flex;
    justify-content: space-around;
}

.contenedor-pokemones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-right: 10px;
   
}

.card-poke{
    margin: 15px;
    border: 1px solid black;
}

.nombre-poke{
    background-color: rgb(177, 163, 163);
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: 700;
}