@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

.body{
    font-family: imprima;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/img/fondoClave.jpg');
    background-size: cover; 
    background-position: center;
}

.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E2940;
    color: white;
    width: 450px;
    height: 100vh;
    margin-left: 33%;
}

.titulo{
    font-size: 25px;
}

input{
    display: block;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: #BFC3C8;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #8F9397;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    border: none;
}

button:hover{
    border: 3px solid black;
}