<div class="body">
    <div class="container-login">  
      <form [formGroup]="formularioClaveN" (ngSubmit)="submit()">
        <p class="titulo">Cambio de Clave</p>
          <p>Correo Electrónico
            <i class="fa-solid fa-user-tie"></i><input type="text" formControlName="correo"  required>
            <span *ngIf="this.formularioClaveN.get('correo')?.errors?.['required']">
              *
            </span>
          </p>
          <p>Clave Nueva
            <i class="fa-solid fa-user-tie"></i><input type="text" formControlName="clave"  required>
            <span *ngIf="this.formularioClaveN.get('clave')?.errors?.['required']">
              *
            </span>
          </p>
            <div class="btn">
              <button type="submit">Guardar</button>
            </div>
          
      </form>
  </div>
  </div>
  
