<div class="body">
  <div class="container-login">  
    <form [formGroup]="formularioContacto" (ngSubmit)="submit()">
      <p class="titulo">Iniciar Sesión</p>
        <p>Nombre
          <i class="fa-solid fa-user-tie"></i><input type="text" formControlName="nombre"  required>
          <span *ngIf="this.formularioContacto.get('nombre')?.errors?.['required']">
            *
          </span>
        </p>
        <p>Clave
            <i class="fa-solid fa-lock"></i><input type="password" formControlName="clave"  required>
            <span *ngIf="this.formularioContacto.get('clave')?.errors?.['required']">
              *
            </span>
          </p>
          <div class="btn">
            <button type="submit">Ingresar</button>
          </div>
        
    </form>
</div>
</div>
