<div class="body">
    <div class="logo">
        <img src="../../../assets/img/logo.webp" alt="" class="logo-img">
    </div>
    <div class="btn">
        <div class="opciones" (click)="verPokemones()">Todos</div>
        <div class="opciones" (click)="verPokemonesA()">Agua</div>
        <div class="opciones" (click)="verPokemonesF()">Fuego</div>
        <div class="opciones" (click)="verPokemonesT()">Tierra</div>
        <div class="opciones" (click)="verPokemonesH()">Hierba</div>
        <div class="opciones" (click)="cerrarSesion()">Cerrar Sesión</div>
    </div> 
</div>