<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Pokemon</title>
</head>
<body>
    <div class="contenedor-inicio">
        <div class="contenedor-logo">
            <img class="logo" src="../../assets/img/logo.webp" alt="">
        </div>
        <div class="informacion">
            <div class="contenedor-texto">
                <p class="texto">Las criaturas centrales de este universo son, obviamente, 
                    los Pokémones. En un principio eran 150 y la gran mayoría de ellas presentaba
                    algún tipo de poder o habilidad especial.Varios de estos seres son principalmente 
                    dóciles y no muestran signos de agresividad, lo que los convierte en una especie de 
                    mascota perfecta. Los Pokémones pueden viajar en las Pokebolas, unas cápsulas en las que
                    los coleccionistas pueden tener atrapadas a sus criaturas y sacarlas cuando sea 
                    el momento de ponerlas a luchar. En la ficción, son recurrentes los maestros 
                    Pokémones, personajes dedicados a recolectar y entrenar a sus criaturas con el
                    fin de hacerlas más fuertes. De hecho, los Pokémones tienen la posibilidad 
                    de evolucionar y volverse más poderosos. Estos seres pueden decir una sola palabra:
                    su propio nombre</p>
                    
                    <div class="contenedor-btn">
                        <div class="botonR" (click)="ingresar()">Más detalles</div>
                    </div>
            </div>
            <div class="contenedor-img">
                <img src="../../assets/img/imgpokemon.png" alt="" class="imagen">
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="poke">
            <div class="contenedor-img">
                <img src="../../assets/img/pikachu.png" alt="" class="img-poke">
            </div>
            <div class="nombre-poke">
                <p class="nombre1">Pikachu</p>
                <p class="tipo-poke"><i class="fa-solid fa-bolt-lightning"></i>Electricidad</p>
            </div>
        </div>

        <div class="poke">
            <div class="contenedor-img">
                <img src="../../assets/img/squirtle.png" alt="" class="img-poke">
            </div>
            <div class="nombre-poke">
                <p class="nombre2">Squirtle</p>
                <p class="tipo-poke"><i class="fa-solid fa-droplet"></i>Agua</p>
            </div>
        </div>

        <div class="poke">
            <div class="contenedor-img">
                <img src="../../assets/img/charmander.png" alt="" class="img-poke">
            </div>
            <div class="nombre-poke">
                <p class="nombre3">Charmand</p>
                <p class="tipo-poke"><i class="fa-solid fa-fire"></i>Fuego</p>
            </div>
        </div>

        <div class="poke">
            <div class="contenedor-img">
                <img src="../../assets/img/bulbasaur.png" alt="" class="img-poke">
            </div>
            <div class="nombre-poke">
                <p class="nombre4">Bulbasaur</p>
                <p class="tipo-poke"><i class="fa-solid fa-leaf"></i>Hierba</p>
            </div>
        </div>
    </div>

    <footer>
        <p>Nicol Briceño</p>
    </footer>
</body>
</html>