<div class="container-total">
    <div class="menu">
        <app-menu></app-menu>
    </div>
    <div class="body">
        <div class="card" *ngIf="pokemon">
            <div class="contenedor-poke">
                <img class="img-poke" [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}">
            </div>
            
                <div class="contenedor-name">
                    <p class="titulo">Nombre: {{ pokemon.name }}</p>
                </div>
                <div class="contenedor-tam">
                    <p class="titulo">Altura: {{ pokemon.height }}m</p>
                    <p class="titulo">Peso: {{ pokemon.weight }}Lbs</p>
                </div>
            
            
                <div class="habilidad">
                    <ul>
                        <p class="titulo">Habilidades:</p>
                        <li *ngFor="let ability of pokemon.abilities">{{ ability.ability.name }}</li>
                    </ul>
                </div>
                <div class="tipo">
                    <ul>
                        <p class="titulo">Tipo:</p>
                        <li *ngFor="let type of pokemon.types">{{ type.type.name }}</li>
                    </ul>
                </div>       
        </div>
    </div>
</div>


